
header{
    background-image:url("../img/pattern.png");
    height: 180px;
    background-color: rgb(8, 171, 235);
    position: relative;
}

h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px;
}

.logo{
    width: 250px;
    position:absolute;
    bottom: 10%;
    left: 10px;
}


.info{
    margin-bottom: 20px;
}

.foto>p{
    margin: 0px;
}

.data,.autore,footer>h3{
    color: rgb(120, 120, 120); 
}

.autore{
    font-size: 20px;
}

.data{
    font-size: 14px;
}

a{
    text-decoration: none;
    color: rgba(39, 190, 236, 0.952);
}


.descrizione_foto{
    font-size: 14px;
}

.evidenziato{
    background-color: yellow;
}

#testa{
    background-color:rgba(39, 190, 236, 0.952); 
    color: white;
    text-align: left;
}

.riga{
    background-color: rgb(139, 199, 235);
}

ul{
    padding: 15px;
}

table{
    border-spacing: 0px;
}

#monitor{
    background: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    min-height: 150px;
}


#grafico{
    margin-top: 15px;
    background: url("../img/graph.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    min-height: 150px;
}

.titolo_consigliati{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

td{
    text-align: left;
    padding: 20px 50px 20px 0px;
}

